@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

* {
  transition: all 0.2s;
}

body {
  background: #ffffff;
  color: #1b1b1b;
  width: 100vw !important;
  overflow-x: hidden !important;
}

/* Animation Classes */
.fade {
  animation: fadeAnimation 0.4s ease;
}
.fade-down {
  animation: fadeDownAnimation 0.4s ease;
}
.fade-up {
  animation: fadeUpAnimation 0.4s ease;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Plan Table */
.plan_table td {
  overflow-x: auto !important;
}

@media screen and (max-width: 500px) {
  .plan_table th:first-child,
  .plan_table th:last-child {
    min-width: 125px !important;
  }

  .plan_table th {
    font-size: 13px !important;
    padding: 10px 8px !important;
  }

  .plan_table td {
    font-size: 12px !important;
    padding: 10px 8px !important;
  }

  .plan_table td span {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 350px) {
  .plan_table th:first-child,
  .plan_table th:last-child {
    min-width: 95px !important;
  }

  .plan_table th {
    font-size: 12px !important;
    padding: 10px 5px !important;
  }

  .plan_table td {
    font-size: 10px !important;
    padding: 10px 5px !important;
  }
}
